.git
notes.txt
collection.pyc
constants.pyc
entry.pyc
entrybox.pyc
journal.txt
runJournal.sh
build
source_code/.viscid
*__pycache__
source_code/docs/setup.py
*.spec
setup.py
google_api_python_client-1.12.1.dist-info
credentials.json
tests
.vscode
